[submodule "3rdparty/onnxruntime"]
	path = 3rdparty/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/opencv/opencv.git
